<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
  {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
      {% assign current_page = fullurl %}
      {% break %}
    {% elsif page.url contains fullurl %}
      {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav class="side-nav">
  Table of contents
  <ul>
    {% for entry in site.data.navigation %}
      {% include nav-item.html %}
    {% endfor %}
  </ul>
</nav>
