<!-- This finds the current page so it can be highlighted. -->
{% assign entries = site.data.navigation %}
{% include active-page.html %}

<!-- Then we build the nav bar. -->
<div class="side-bar">
  <nav>
    <h3>Table of contents</h3>

    <ul>
      {% for entry in site.data.navigation %}
        {% include nav-item.html %}
      {% endfor %}
    </ul>
  </nav>

  <div>{{site.url}}</div>
  <div>{{site.baseUrl}}</div>

  <p class="info">Current <a href="{{ site.baseUrl }}/developer-guide/module-specifications.html#specifications-versions">spec version</a>: <strong>0.1.0</strong></p>
  
  <p class="info">Contributions are welcome.<br/>If you want to contribute to this documentation, fork the <a href="{{ site.github.repository_url }}" target="_blank">repository</a> and create a pull request.</p>
</div>
