<!-- This finds the current page so it can be highlighted. -->
{% assign entries = site.data.navigation %}
{% include active-page.html %}

<!-- Then we build the nav bar. -->
<div class="side-bar">
  <nav>
    {% for section in site.data.navigation %}
    <h3>{{ section.title }}</h3>
    <ul>
      {% for entry in section.items %}
        {% include nav-item.html %}
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>

  <p class="info">Current <a href="{{ site.baseurl }}/developer-guide/module-specifications.html#specifications-versions">spec version</a>: <strong>0.2.0</strong></p>
  
  <p class="info">Contributions are welcome.<br/>If you want to contribute to this documentation, fork the <a href="{{ site.github.repository_url }}" target="_blank">repository</a> and create a pull request.</p>
</div>
