---
---

@import '{{ site.theme }}';

code {
  background: #333;
  margin: 0 2px;
  font-size: 0.93em;
}

.wrapper {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  flex-shrink: 0;
}

.side-nav {
  width: 100px;
  flex-shrink: 0;
  padding-top: 30px;
  margin-top: 20px;
}
