---
---

@import '{{ site.theme }}';

code.highlighter-rouge {
  background: #333;
  margin: 0;
  font-size: 0.93em;
}

img + em {
  display: block;
  text-align: center;
}

#header {
  position: relative;
}

#header li.fork {
  position: absolute;
}

.wrapper {
  margin-top: -64px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: stretch;
  }
}

section {
  flex-shrink: 0;
}

.side-bar {
  display: block !important; /* override default hidden on mobile */
  width: 260px;
  flex-shrink: 0;
  margin-top: 100px;

  @media screen and (max-width: 960px) {
    width: auto;
    order: 2;
    margin-top: 0;
    margin-bottom: 50px; 
  }

  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }

  & > nav {
    margin-bottom: 30px;
    display: block !important; // override theme's display: none set on mobile

    & > ul {
      padding-left: 0;
      margin-bottom: 25px;
    }

    a {
      padding: 3px 0; // 3px 6px;
      display: block;
    }
  
    .current {
      font-weight: bold;
      background: #333;
    }
  }

  .info {
    color: #b6b6b6;
  }
}


